*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
secrets.properties
/.idea/other.xml

# Remove from history
#git filter-branch --force --index-filter \
#  'git rm --cached --ignore-unmatch FILENAME' \
#  --prune-empty --tag-name-filter cat -- --all